<div class="grid">
  <div class="lg:col-6 lg:col-offset-3 md:col-8 md:col-offset-2 sm:col-8 sm:col-offset-2 col-10 col-offset-1">
    <div class="basic-border">
      <div class="col-12 text-center font-medium">
        <h3>New user</h3>
      </div>
      <div class="md:col-12 md:col-offset-0 sm:col-12 sm:col-offset-0 p-4">
        <div>
          <form [formGroup]="registerForm" class="flex flex-column gap-3">
            <div>
              <p-iftalabel>
                <input pInputText id="username" class="w-full border-noround" placeholder="Enter your username"
                  formControlName="username" />
                <label for="username" class="w-full">Username</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel>
                <input pInputText id="firstname" class="w-full border-noround" placeholder="Enter your firstname"
                  formControlName="firstname" />
                <label for="firstname" class="w-full">Firstname</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel>
                <input pInputText id="lastname" class="w-full border-noround" placeholder="Enter your lastname"
                  formControlName="lastname" />
                <label for="lastname" class="w-full">Lastname</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel>
                <input pInputText id="email" class="w-full border-noround" placeholder="Enter your email"
                  formControlName="email" />
                <label for="email" class="w-full">Email</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel>
                <p-password formControlName="password" styleClass="w-full" [toggleMask]="true" feedback="false" inputStyleClass="w-full border-noround" inputId="password" />
                <label for="password">Password</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel class="w-full">
                <p-password formControlName="confirmPassword" [toggleMask]="true" feedback="false" styleClass="w-full" inputStyleClass="w-full border-noround"
                  inputId="confirmPassword" />
                <label for="confirmPassword">Confirm Password</label>
              </p-iftalabel>
            </div>

            <div>
              <p-iftalabel class="w-full">
                <input pInputText id="bio" class="w-full border-noround" placeholder="Enter your bio"
                  formControlName="bio" />
                <label for="bio" class="w-full">Bio</label>
              </p-iftalabel>
            </div>

            <p-iftalabel>
              <p-select formControlName="role" inputId="role" [options]="roles"
                styleClass="w-full border-noround" />
              <label for="role">Role</label>
            </p-iftalabel>

            <input type="file" (change)="onFileChange($event)" class="p-inputtext w-full border-noround"/>

            <div>
              <button pButton pRipple (click)="onRegisterClick()" [raised]="true" severity="success" class="w-full">
                <span pButtonLabel>Register</span>
              </button>
            </div>
          </form>
        </div>

        <p-divider>
          <span>OR</span>
        </p-divider>

        <div>
          <div>
            <button pButton pRipple (click)="navigateToLogin()" [raised]="true" severity="contrast" class="w-full">
              <span pButtonLabel>Log in</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>