<div class="container grid w-full">
  <div class="col-12">
    <h2 class="font-medium">Home Feed</h2>
    
  </div>
  <div class="col-12 col-offset-0>">
    <div *ngFor="let post of posts">
      <div class="sm:col-12 md:col-12 lg:col-10 lg:col-offset-1 xl:col-8 xl:col-offset-2 py-0">
        <div class="sm:col-12 md:col-12 lg:col-10 lg:col-offset-1 xl:col-10 xl:col-offset-1 py-0">
          <div class="col-12">
            <div class="grid align-items-center">
              <div class="col-1 align-items-center w-4rem">
                <img [src]="post?.author?.profilepic" alt="Author DP" class="aspect-ratio-1 border-circle w-full" />
              </div>
              <div class="col-11" [routerLink]="'/profile/' + post?.author.username"
                class="basic-link font-medium cursor-pointer">
                {{ post.author.username }}
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="grid align-items-center">
              <div class="bg-light-grey">
                <img [src]="post.postUrl" alt="Post Image" class="w-full aspect-ratio-1 object-fit-scale-down" />
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="flex align-items-center justify-content-start gap-2">
              <i class="pi pi-heart text-2xl font-medium basic-link cursor-pointer" (click)="likePost(post._id)"></i>
              <i class="pi pi-comment text-2xl font-medium basic-link cursor-pointer"></i>
              <i class="pi pi-send text-2xl font-medium basic-link cursor-pointer"></i>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="flex align-items-center justify-content-start gap-1">
              <div class="font-medium">{{ post.author.username }}</div>
              <div class="font-light">{{ post.postCaption === "" ? "No Caption" : post.postCaption }}</div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div *ngFor="let comment of post.comments">
              <div class="flex align-items-center justify-content-start gap-2">
                <div class="w-2rem">
                  <img [src]="comment.author.profilepic" alt="Commentor DP" class="aspect-ratio-1 border-circle w-full" />
                </div>
                <div class="font-medium">{{ comment.author?.username }}</div>
                <div class="font-light">{{ comment.text }}</div>
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="w-full">
              <p-iftalabel>
                <p-inputGroup>
                  <input pInputText id="comment" class="w-full border-noround" placeholder="Add a comment..." [(ngModel)]="commentText" />
                  <label for="comment" class="w-full">Add Comment</label>
                  <p-inputgroup-addon styleClass="border-noround">
                    <p-button icon="pi pi-check" severity="secondary" variant="text" (click)="addComment(post._id)" />
                  </p-inputgroup-addon>
                </p-inputGroup>
              </p-iftalabel>
            </div>
          </div>
          <div class="col-12 px-0">
            <p-divider></p-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="feed-container">
  <h2>Home Feed</h2>
  <ul *ngIf="posts.length > 0">
    <li *ngFor="let post of posts">
      <div class="post-card">
        <div class="post-header">
          <img [src]="post.author.profilepic" alt="Profile Picture" class="small-profile-pic"/>
          <a [routerLink]="'/profile/' + post.author.username">{{ post.author.username }}</a>
        </div>
        <img [src]="post.postUrl" alt="Post Image" class="post-image"/>
        <p>{{ post.postCaption }}</p>

        <div class="post-actions">
          <button class="like-button" (click)="likePost(post._id)">
            {{ post.likes.length }} Likes
          </button>
          <input type="text" placeholder="Add a comment..." #commentInput/>
          <button (click)="addComment(post._id, commentInput.value)">Add Comment</button>
        </div>

        <h4>Comments:</h4>
        <ul *ngIf="post.comments.length > 0">
          <li *ngFor="let comment of post.comments">
            <img [src]="comment.author.profilepic" alt="Profile Picture" class="comment-profile-pic"/>
            <strong>{{ comment.author.username }}</strong>: {{ comment.text }}
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <p *ngIf="posts.length === 0">No posts available.</p>
</div> -->