<div class="container grid w-full">
  <div class="col-12">
    <div class="lg:col-10 lg:col-offset-1 col-12 col-offset-0 lg:pb-6 sm:pb-2">
      <div class="grid">
        <div
          class="lg:col-3 lg:col-offset-0 md:col-3 md:col-offset-0 sm:col-4 sm:col-offset-4 sm:col-4 col-4 col-offset-4">
          <div>
            <p-image [src]="profileData.profilepic" [preview]="true" alt="Image"
              styleClass="hover-opacity-75 cursor-pointer border-circle dp-span"
              imageClass="w-full aspect-ratio-1 border-circle">
            </p-image>
          </div>
        </div>
        <div class="lg:col-9 md:col-9 md:col-offset-0 sm:col-10 sm:col-offset-1 col-12 sm:py-2 xl:py-6">
          <div class="flex flex-column gap-4 lg:px-4 sm:px-1">
            <div class="flex align-items-center flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row gap-6 sm:justify-content-between lg:justify-content-start xl:justify-content-start">
              <div class="font-medium text-2xl">{{ profileData.username }}</div>
              <div class="flex align-items-center gap-2">
                <p-button label="Edit Profile" icon="pi pi-pencil" severity="secondary" (onClick)="show()" />
                <p-button label="Unsplash likes" icon="pi pi-bookmark-fill" severity="secondary" [routerLink]="'/saved'" />
              </div>
            </div>

            <div class="flex align-items-center lg:gap-8 sm:gap-6 sm:justify-content-between md:justify-content-between lg:justify-content-start justify-content-between">
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Posts</div>
                <div class="text-lg">{{ profileData.posts?.length || 0 }}</div>
              </div>
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Followers</div>
                <div class="text-lg">{{ profileData.followers?.length || 0 }}</div>
              </div>
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Following</div>
                <div class="text-lg">{{ profileData.following?.length || 0 }}</div>
              </div>
            </div>
            <div>
              <div class="font-medium">{{ profileData.firstname + " " + profileData.lastname }}</div>
              <div class="font-light py-2">{{ profileData?.bio || "" }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="users && users.length !== 0" class="lg:col-10 lg:col-offset-1 sm:hidden md:hidden xl:block hidden lg:pb-6 sm:pb-0">
      <p-fieldset legend="People you may know" styleClass="w-full p-0" class="w-full p-0">
        <p-carousel [value]="users" [numVisible]="4" [numScroll]="3" [responsiveOptions]="responsiveOptions" styleClass="w-full">
          <ng-template let-user #item>
            <div class="m-2 xl:max-w-14rem lg:max-w-12rem">
              <div class="flex flex-column shadow-2 pattern-background border-round">
                <div class="aspect-ratio-1 w-full p-2 sm:p-3 lg:p-4">
                  <div class="aspect-ratio-1 w-full">
                    <p-image [src]="user.profilepic" alt="Image" styleClass="cursor-pointer border-circle"
                      imageClass="w-full aspect-ratio-1 object-fit-cover border-circle">
                    </p-image>
                  </div>
                </div>
                <div class="aspect-ratio-6-1 sm:px-3 lg:px-4 pb-3">
                  <div class="flex flex-column gap-2">
                    <div>
                      <span class="m-0 font-medium">{{ user.firstname + " " + user.lastname }}</span>
                    </div>
                    <button pButton pRipple icon="pi pi-arrow-up-right" [raised]="true" severity="contrast" [routerLink]="`/profile/${user.username}`"
                      class="w-full">
                      <span pButtonLabel>Follow</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </p-fieldset>
    </div>


    <div class="lg:col-10 lg:col-offset-1 col-12 col-offset-0 pb-6">
      <p-fieldset legend="Add post" class="w-full" styleClass="w-full">
        <div class="grid m-0">
          <div class="col-12">
            <p-fileupload (onSelect)="updateFile($event)" (uploadHandler)="createPost()" (onClear)="clearFile()"
              accept="image/*" maxFileSize="1000000" mode="advanced" customUpload="true">
              <ng-template #empty>
                <div>Drag and drop files to here to upload.</div>
              </ng-template>
            </p-fileupload>
          </div>

          <div class="col-12">
            <p-iftalabel>
              <input pInputText id="caption" class="w-full border-noround" placeholder="Caption" [(ngModel)]="newPostCaption" />
              <label for="caption" class="w-full">Caption</label>
            </p-iftalabel>
          </div>
        </div>

      </p-fieldset>
    </div>

    <div class="lg:col-10 lg:col-offset-1 col-12 col-offset-0">
      <div class="grid">
        <div *ngFor="let post of profileData.posts" class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12 p-1">
          <p-image [src]="post.postUrl" [preview]="true" alt="Image" styleClass="cursor-pointer"
            imageClass="w-full aspect-ratio-1">
            <ng-template #preview let-style="style" let-previewCallback="previewCallback">
              <div>
                <div>
                  <img [src]="post.postUrl" alt="image" [style]="style" style="max-height: 50rem;"
                    (click)="previewCallback()" />
                </div>
                <div>
                  <h3 class="text-center">Image Preview</h3>
                </div>
              </div>
            </ng-template>
          </p-image>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="flex justify-content-center">
  <div class="card p-4 w-8">
    <img [src]="profileData.profilepic" alt="Profile Picture" class="profile-pic"/>
    <h2>{{ profileData.username }}</h2>
    <p>Followers: {{ profileData.followers.length }}</p>
    <p>Following: {{ profileData.following.length }}</p>
    <p>Posts: {{ profileData.posts.length }}</p>

    <h3>Personal Information</h3>
    <input type="text" [(ngModel)]="profileData.firstname" placeholder="First Name" class="p-inputtext w-full"/>
    <input type="text" [(ngModel)]="profileData.lastname" placeholder="Last Name" class="p-inputtext w-full"/>
    <textarea [(ngModel)]="profileData.bio" placeholder="Bio" class="p-inputtext w-full"></textarea>
    <button class="p-button w-full" (click)="updateProfile()">Update Profile</button>

    <h3>Add a New Post</h3>
    <input type="file" (change)="updateFile($event)" class="p-inputtext w-full"/>
    <input type="text" [(ngModel)]="newPostCaption" placeholder="Post Caption" class="p-inputtext w-full"/>
    <button class="p-button w-full" (click)="createPost()">Update Profile</button>

    <h3>Followers</h3>
    <ul *ngIf="profileData.followers.length > 0">
      <li *ngFor="let follower of profileData.followers">
        <img [src]="follower.profilepic" alt="Profile Picture" class="small-profile-pic"/>
        <a [routerLink]="'/profile/' + follower.username">{{ follower.username }}</a>
      </li>
    </ul>
    <p *ngIf="profileData.followers.length === 0">No followers yet.</p>

    <h3>Following</h3>
    <ul *ngIf="profileData.following.length > 0">
      <li *ngFor="let followingUser of profileData.following">
        <img [src]="followingUser.profilepic" alt="Profile Picture" class="small-profile-pic"/>
        <a [routerLink]="'/profile/' + followingUser.username">{{ followingUser.username }}</a>
      </li>
    </ul>
    <p *ngIf="profileData.following.length === 0">Not following anyone yet.</p>

    <h3>Manage Posts</h3>
    <ul>
      <li *ngFor="let post of profileData.posts">
        <img [src]="post.postUrl" alt="Post Image" class="small-image"/>
        <p>{{ post.postCaption }}</p>
        <button class="p-button p-button-danger" (click)="deletePost(post._id)">Delete</button>
      </li>
    </ul>
  </div>
</div> -->