<div class="container grid w-full">
  <div class="col-12">
    <div class="lg:col-10 lg:col-offset-1 col-12 col-offset-0 lg:pb-6 sm:pb-2">
      <div class="grid">
        <div class="lg:col-3 lg:col-offset-0 md:col-3 md:col-offset-0 sm:col-4 sm:col-offset-4 sm:col-4 col-4 col-offset-4">
          <div>
            <p-image [src]="profileData.profilepic" [preview]="true" alt="Image"
              styleClass="hover-opacity-75 cursor-pointer border-circle dp-span"
              imageClass="w-full aspect-ratio-1 border-circle">
            </p-image>
          </div>
        </div>
        <div class="lg:col-9 md:col-9 md:col-offset-0 sm:col-10 sm:col-offset-1 col-12 sm:py-2 xl:py-6">
          <div class="flex flex-column gap-4 lg:px-4 sm:px-1">
            <div class="flex align-items-center flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row gap-6 sm:justify-content-between lg:justify-content-start xl:justify-content-start">
              <div class="font-medium text-2xl">{{ profileData.username }}</div>
              <div class="flex align-items-center gap-2">
                <p-button *ngIf="isLoggedIn && !isFollowing" label="Follow" icon="pi pi-star-fill" severity="contrast" (onClick)="followUser()"/>
                <p-button *ngIf="isLoggedIn && isFollowing" label="Unfollow" icon="pi pi-star" severity="secondary" (onClick)="unfollowUser()" />
              </div>
            </div>

            <div class="flex align-items-center lg:gap-8 sm:gap-6 sm:justify-content-between md:justify-content-between lg:justify-content-start justify-content-between">
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Posts</div>
                <div class="text-lg">{{ profileData.posts?.length || 0 }}</div>
              </div>
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Followers</div>
                <div class="text-lg">{{ profileData.followers?.length || 0 }}</div>
              </div>
              <div class="flex flex-column align-items-center gap-2">
                <div class="font-medium text-xl">Following</div>
                <div class="text-lg">{{ profileData.following?.length || 0 }}</div>
              </div>
            </div>
            <div>
              <div class="font-medium">{{ profileData.firstname + " " + profileData.lastname }}</div>
              <div class="font-light py-2">{{ profileData?.bio || "" }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="canViewPosts" class="lg:col-10 lg:col-offset-1 col-12 col-offset-0">
      <div class="grid">
        <div *ngFor="let post of profileData.posts" class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12 p-1">
          <p-image [src]="post.postUrl" [preview]="true" alt="Image" styleClass="cursor-pointer"
            imageClass="w-full aspect-ratio-1">
            <ng-template #preview let-style="style" let-previewCallback="previewCallback">
              <div>
                <div>
                  <img [src]="post.postUrl" alt="image" [style]="style" style="max-height: 50rem;"
                  (click)="previewCallback()" />
                </div>
                <div>
                  <h3 class="text-center">Image Preview</h3>
                </div>
              </div>
            </ng-template>
          </p-image>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- <div class="flex justify-content-center">
  <div class="card p-4 w-8">
    <img [src]="profileData.profilepic" alt="Profile Picture" class="profile-pic"/>
    <h2>{{ profileData.username }}</h2>
    <p>Followers: {{ profileData.followerCount }}</p>
    <p>Following: {{ profileData.followingCount }}</p>
    <p>Posts: {{ profileData.postCount }}</p>

    <button *ngIf="isLoggedIn && !isFollowing" class="p-button" (click)="followUser()">Follow</button>
    <button *ngIf="isLoggedIn && isFollowing" class="p-button p-button-secondary" (click)="unfollowUser()">Unfollow</button>

    <h3>Followers</h3>
    <ul *ngIf="profileData.followers.length > 0">
      <li *ngFor="let follower of profileData.followers">
        <img [src]="follower.profilepic" alt="Profile Picture" class="small-profile-pic"/>
        <a [routerLink]="'/profile/' + follower.username">{{ follower.username }}</a>
      </li>
    </ul>
    <p *ngIf="profileData.followers.length === 0">No followers yet.</p>

    <h3>Following</h3>
    <ul *ngIf="profileData.following.length > 0">
      <li *ngFor="let followingUser of profileData.following">
        <img [src]="followingUser.profilepic" alt="Profile Picture" class="small-profile-pic"/>
        <a [routerLink]="'/profile/' + followingUser.username">{{ followingUser.username }}</a>
      </li>
    </ul>
    <p *ngIf="profileData.following.length === 0">Not following anyone yet.</p>

    <div *ngIf="canViewPosts">
      <h3>User Posts</h3>
      <ul>
        <li *ngFor="let post of profileData.posts">{{ post.title }}</li>
      </ul>
    </div>
    <p *ngIf="!canViewPosts">Posts are private.</p>
  </div>
</div> -->