/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.basic-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0px;
}

.aspect-ratio-1 {
  aspect-ratio: 1 / 1;
}

.basic-link:hover {
  // text-decoration: underline;
  opacity: 0.7;
}

.object-fit-scale-down {
  object-fit: scale-down;
}

.bg-light-grey {
  background-color: #f3f3f3;
}

// .p-image-preview:hover > .p-image-preview-mask {
//   // opacity: 0.5;
// }

// .hover-opacity-75 {
//   transition: opacity 0.3s ease;
// }

// .hover-opacity-75:hover {
//   opacity: 0.75;
// }

.dp-span {
  border-radius: 50% !important;
}

.dp-span button {
  border-radius: 50% !important;
}

.max-h-50rem {
  max-height: 50rem !important;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.aspect-ratio-6-1 {
  aspect-ratio: 6 / 1;
}

.pattern-background {
  background: radial-gradient(circle, #f6f6f6 10%, transparent 11%), radial-gradient(circle at bottom left, #f6f6f6 5%, transparent 6%), radial-gradient(circle at bottom right, #f6f6f6 5%, transparent 6%), radial-gradient(circle at top left, #f6f6f6 5%, transparent 6%), radial-gradient(circle at top right, #f6f6f6 5%, transparent 6%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1
}